/*------------------------------------------------------------------
[Color codes]
Buttons, etc:	#726FB9 (blue)
hover color:	#fed136 (yellow)
-------------------------------------------------------------------*/
/* main font for menu. */
@import url(http://fonts.googleapis.com/css?family=Lora:400|Raleway:100,200,300,400,500,700,800);
/*- General -*/
body {
	font-family: "Raleway", Sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.04em;
	font-weight: 700;
	font-style: normal;
	font-family: "Raleway", Sans-serif;
	color: #4A4A4A;
}
p {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #000;
}
img {
	margin-top: 30px;
	max-width: 100%;
	height: auto;
}
a {
	color: #4A4A4A;
}
a:hover, a:focus, a:active, a.active {
	color: #fec503;
}
a, a:hover, a:focus, a:active, a.active {
	outline: 0;
	text-decoration: none;
}
::selection {
	text-shadow: none;
	background: #fed136;
}
section {
	padding-bottom: 60px;
}
section:last-child {
	padding-bottom: 0px;
}
/*- Reset bootstrap -*/
@media (min-width: 1200px)
	.container {
		width: 1260px;
	}
	.row-gutter {
		margin-left: -20px;
		margin-right: -20px;
	}
	.col-gutter {
		padding-left: 20px;
		padding-right: 20px;
	}
	.sidebar-gutter {
		padding-left: 50px;
	}
	.navbar .navbar-nav > li > a {
		color:#fff;
	}
	header {
		margin: 10px 0 65px;
		text-align: center;
	}
	/*- BX Slaider reset -*/
	.bxslider {
		margin: 0;
		padding: 0;
	}
	.bx-wrapper .bx-viewport {
		left: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
	}
	.bx-wrapper .bx-prev {
		border: 1px solid #000;
		background-image: none !important;
		background-color: rgba(223, 223, 223, 0.34);
	}
	.bx-wrapper .bx-next {
		border: 1px solid #000;
		background-image: none !important;
		background-color: rgba(223, 223, 223, 0.34);
	}
	.bx-wrapper .bx-prev:hover {
		background-color: rgba(223, 223, 223, 0.34);
	}
	.bx-wrapper .bx-next:hover {
		background-color: rgba(223, 223, 223, 0.34);
	}
	.bx-wrapper .bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 50px;
		height: 50px;
		text-indent: inherit;
		z-index: 99;
		color: #fff;
		text-align: center;
		line-height: 50px;
	}
	.main-slider img {
		position: relative;
	}
	.main-slider h2 {
		position: absolute;
		bottom: 10px;
		left: 10px;
		background-color: rgba(0, 0, 0, 0.52);
		color: #fff;
		padding: 25px 40px;
		font-size: 32px;
	}
	.main-slider h2 a {
		color: #fff;
	}
	.main-slider h2 a:hover {
		color: #dfdfdf;
	}
	/*- blog post -*/
	.blog-post {
		padding-bottom: 30px;
		margin-bottom: 60px;
	}
	.blog-post .blog-post-body {
		text-align: center;
		padding: 20px 0;
	}
	.blog-post .blog-post-body h2 {
		margin: 0;
		padding: 15px 0px 20px;
		font-size: 41px;
		line-height: 49px;
	}
	.blog-post .blog-post-body p {
		text-align: justify;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		color: #000;
	}
	.blog-post .blog-post-body a {
		color: #4A4A4A;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.blog-post .blog-post-body a:hover  {
		color: #dddddd;
	}
	.blog-post .post-meta {
		margin: 5px 0 20px;
		font-weight: 400;
		font-size: 16px;
		color: #B1B1B1;
		font-family: "Lora";
		font-style: italic;
	}
	.blog-post .post-meta a {
		color: #B1B1B1;
	}
	.blog-post .post-meta a:hover {
		color: #fed136;
	}
	.blog-post .post-meta span {
		padding-left: 15px;
		padding-right: 15px;
	}
	.blog-post .post-meta span:first-child {
		padding-left: 0;
		padding-right: 15px;
	}
	.blog-post .post-meta i {
		padding-right: 5px;
		font-size: 12px;
	}
	.blog-post .read-more a {
		display: inline-block;
		padding: 12px 40px;
		margin: 30px 0 0px;
		border: 1px solid;
		border-radius: 25px;
		border-color: #E6E6E6;
		background-color: #F3F3F3;
		font-family: "Open Sans", Sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1.7px;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.blog-post .read-more a:hover {
		background-color: #fed136;
		border-color: #fed136;
		color: #fff;
	}
	.blog-post .blog-post-text {
		text-align: left;
	}
	.blog-post .blog-post-text p {
		text-align: justify;
		font-size: 17px;
		font-weight: 400;
		line-height: 28px;
		color: #000;
		letter-spacing: 0.1px;
		margin-bottom: 30px;
	}
	/*- Sidebar -*/
	.sidebar-title {
		background-color: #2B2B2B;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 0.8px;
		font-size: 14px;
		padding: 15px 0;
		margin: 0 0 25px;
		font-family: "Raleway", Sans-serif;
	}
	.sidebar-widget {
		margin-bottom: 40px;
	}
	.sidebar-widget li {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.widget-socials {
		text-align: center;
	}
	.widget-socials a {
		margin: 3px 8px;
		padding: 5px;
		font-size: 17px;
		color: #3C3C3C;
	}
	.widget-about img {
		width: 100%;
	}
	.widget-about h4 {
		text-align: center;
		margin: 20px 0 5px;
	}
	.widget-about .author-title {
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		color: #B5B5B5;
		text-align: center;
	}
	.widget-about p {
		margin-top: 10px;
		font-size: 17px;
		line-height: 24px;
		color: #000000;
	}
	.widget-post {
		display: table;
		margin: 0 0 20px 0;
		border-bottom: 1px solid;
		border-color: #E4E4E4;
		padding-bottom: 20px;
		width: 100%;
	}
	.widget-post:last-child {
		border-bottom: none;
		padding-bottom: 0px;
		margin: 0px;
	}
	.widget-post .post-image {
		float: left;
		width: 90px;
		vertical-align: middle;
		position: relative;
		margin-right: 20px;
	}
	.widget-review .post-image {
		width: 70px;
		margin-right: 15px;
	}
	.widget-post .post-body {
		overflow: hidden;
	}
	.widget-post h2 {
		margin: 0;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
	}
	.widget-post h2 a {
		color: #4A4A4A;
		-webkit-transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
		transition: all 0.2s ease-out;
	}
	.widget-post h2 a:hover {
		color: #969696;
	}
	.widget-post .post-meta {
		margin-top: 5px;
		font-weight: 400;
		font-size: 11px;
		color: #B1B1B1;
		font-family: "Lora";
		font-style: italic;
	}
	.widget-post .post-meta span {
		margin-right: 8px;
	}
	.widget-post .post-meta span a {
		color: #B1B1B1;
	}
	.section-title {
		margin: 0 0 45px 0;
		border-top: 1px solid #505050;
		font-size: 28px;
		padding-top: 10px;
		font-weight: 300;
		color: #272727;
	}
	.section-title span {
	}
	/*- Footer -*/
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color:grey;
		color:black;
		text-align: center;
		height: 50px;
	}

	.panel-login {
		border-color: #ccc;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	}
	.panel-login>.panel-heading {
		color: #00415d;
		background-color: #fff;
		border-color: #fff;
		text-align:center;
	}
	.panel-login>.panel-heading a{
		text-decoration: none;
		color: #666;
		font-weight: bold;
		font-size: 15px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login>.panel-heading a.active{
		color: #029f5b;
		font-size: 18px;
	}
	.panel-login>.panel-heading hr{
		margin-top: 10px;
		margin-bottom: 0px;
		clear: both;
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
		background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
		background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
	.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
		height: 45px;
		border: 1px solid #ddd;
		font-size: 16px;
		-webkit-transition: all 0.1s linear;
		-moz-transition: all 0.1s linear;
		transition: all 0.1s linear;
	}
	.panel-login input:hover,
	.panel-login input:focus {
		outline:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-color: #ccc;
	}
	.btn-login {
		background-color: #59B2E0;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #59B2E6;
	}
	.btn-login:hover,
	.btn-login:focus {
		color: #fff;
		background-color: #53A3CD;
		border-color: #53A3CD;
	}
	.forgot-password {
		text-decoration: underline;
		color: #888;
	}
	.forgot-password:hover,
	.forgot-password:focus {
		text-decoration: underline;
		color: #666;
	}

	.btn-register {
		background-color: #1CB94E;
		outline: none;
		color: #fff;
		font-size: 14px;
		height: auto;
		font-weight: normal;
		padding: 14px 0;
		text-transform: uppercase;
		border-color: #1CB94A;
	}
	.btn-register:hover,
	.btn-register:focus {
		color: #fff;
		background-color: #1CA347;
		border-color: #1CA347;
	}
   .pagenation-position{
	   margin-bottom: 40px;
   }
